@import "../../common";

page {
  background-color: #fff;
}

.header {
  position: relative;
  swiper {

    height: rpx(400);
    image {
      width: 100%;
      height: 100%;
    }
  }

  .header-box {
    box-sizing: border-box;
    position: absolute;
    top: rpx(30);
    left: 5%;
    display: flex;
    align-items: center;
    width: 90%;
    height: rpx(78.125);
    padding: rpx(12) rpx(30);
    line-height: rpx(30);
    border-radius: rpx(8);
    font-size: rpx(22);
    background-color: #fff;
    .header-box-nav {
      flex: none;
      display: flex;
      align-items: center;
      max-width: rpx(120);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: rpx(22);
      .icon {
        font-size: rpx(22);
        color: #999;
      }
    }
    .header-box-line {
      flex: none;
      height: rpx(40);
      width: rpx(2);
      background-color: #ccc;
      margin: 0 rpx(30);
    }
    .header-box-search {
      flex: 1;
      display: flex;
      align-items: center;
      text {
        flex: none;
      }
      .icon {
        font-size: rpx(22);
      }
      input {
        flex: 1;
        margin-left: rpx(10);
        font-size: rpx(22);
      }
    }
  }
}

.nav-list {
  background-color: #fff;
  padding: rpx(60) rpx(30);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .nav-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    image {
      width: rpx(90);
      height: rpx(90);
      border-radius: 50%;
    }
    text {
      color: #666;
      font-size: rpx(26);
      margin-top: rpx(20);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.process {
  background-color: #fff;
  position: relative;
  padding: rpx(30);

  .process-title {
    display: flex;
    align-items: center;
    .process-name {
      font-size: rpx(40);
    }
    .line {
      margin-right: rpx(10);
      width: rpx(8);
      height: rpx(32);
      background-color: #ff5600;
    }
  }
  .arrow-box {
    margin-right: rpx(30);
  }
}

.border-box {
  padding: 0 rpx(30);
  .border {
    @include border();
  }
}

.recommend {
  background-color: #fff;
  padding: rpx(30);
  .recommend-title {
    display: flex;
    align-items: center;
    .recommend-name {
      font-size: rpx(40);
    }
    .line {
      margin-right: rpx(10);
      width: rpx(8);
      height: rpx(32);
      background-color: #ff5600;
    }
  }

  .recommend-list {
    .recommend-item {
      display: flex;
      align-items: center;
      padding: rpx(30) 0;

      &:not(:last-child) {
        border-bottom: rpx(1) solid #e0e0e0;
      }
      image {
        width: rpx(210);
        height: rpx(130);
        border-radius: rpx(10);
      }
      .recommend-item-info {
        margin-left: rpx(30);
        font-size: rpx(24);
        color: #999;
        > view {
          padding: rpx(5) 0;
        }
        .recommend-item-title {
          font-size: rpx(30);
          color: #000;
        }
      }
    }
  }
}

.count-box {
  padding: rpx(30) rpx(30) 0;
  display: flex;
  .count {
    flex: 1;
    line-height: 1.5;
    view:first-child {
      color: #999;
      font-size: rpx(24);
    }
    view:last-child {
      font-size: rpx(55);
      text:last-child {
        font-size: .5em;
      }
    }
  }
}
