@import "../../common";

page {
  background-color: #F6F8F8;
  color: #333;
}

.my {
  background-color: #fff;

  .my-info {
    display: flex;
    align-items: center;
    padding: rpx(50) rpx(30);
    image {
      border-radius: 50%;
      width: rpx(100);
      height: rpx(100);
    }
    text {
      margin-left: rpx(30);
      font-size: rpx(30);
    }
  }
}

.my-list {
  margin-top: rpx(20);
  padding: 0 rpx(30);
  background-color: #fff;
  .my-item {
    padding: rpx(30) 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    @include border(false);
    text:last-child {
      color: #999;
    }
  }
}

.loginOut {
  margin-top: rpx(20);
  background-color: #fff;
  padding: rpx(30) 0;
  text-align: center;
}